@import './variables.scss';

@font-face {
  font-family: "Domaine-Sans";
  src: url("../fonts/domaine/DomaineSansDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Houschka-Pro";
  src: url("../fonts/houschka-pro/Houschka Pro Medium.otf") format("opentype");
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: $white;
}