@import './variables.scss';

@mixin headingTwo($color){
  font-family: "Houschka-Pro";
  color: $color;
  font-size: 1rem;
  letter-spacing: 3px;
}

.logo-samara{
  color: $white;
  font-family: "Domaine-sans";
  font-size: 1.5rem;
  letter-spacing: 6px;
}

.heading-title{
  font-family: "Domaine-Sans";
  color: $white;
  font-size: 3.9rem;
  letter-spacing: 8px;
  height: 90px;
}

.heading-one{
  font-family: "Domaine-Sans";
  color: $brown;
  font-size: 2.4rem;
  letter-spacing: 8.5px;
  line-height: 60px;
}

.body-white{
  font-family: "Houschka-Pro";
  color: $white;
  font-size: .83rem;
  line-height: 24px;
  letter-spacing: 1.2px;
}

.body-brown{
  @extend .body-white;
  color: $brown !important;
}

.container{
  margin-left: 12.6vw;
  display: flex;
}

@media all and (max-width: 533px){
  // .logo-samara{
  //   color: violet;
  // }
}