//small-laptops & big tablets
@media all and (max-width: 1024px){

  html{
    font-size: 12px !important;
  }

  .heading-one{
    font-size: 2rem;
  }
  
  .story-wrap{
    height: 2000px !important;
  }

  .story-container{
    .content-top-wrap{
      margin-left: 0 !important;
      flex-direction: column;
      justify-content: center !important;
    
      .content-top-desc-wrap{
        text-align: center !important;
        margin-right: 0px !important;
        margin-top:0px !important;
        margin-bottom: 12px;
      }

      .content-top-image-wrap{
        width: 100%;
        text-align: center;
      }
    }

    .content-bottom-wrap{
      justify-content: center;
      flex-direction: column;
      position: initial !important;

      .content-bottom-main-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        
        .content-bottom-container{
          .content-bottom{
            text-align: center !important;
            margin-right: 0 !important;
          }
        }
      }
      
      .content-bottom-image-wrap{
        width: 100%;
        text-align: center;
      }
    }
  }
 
}


//tablets

@media all and (max-width: 768px){

  .heading-one{
    letter-spacing: 5.5px;
    line-height: 40px;
  }

  .story-wrap{
    height: initial !important;
  }

  .content-top-image-wrap{
    img{
      width: 50% !important;
      // width: 50vw;
    }
  }

  .content-bottom-image-wrap{
    img{
      width: 50% !important;
    }
  }

  // .spacer{
  //   width: 100%; height: 110vh;
  //   display: block !important;
  // }
}

//mobile

@media all and (max-width: 492px){
  .heading-title{
    font-size: 3.5rem;
  }

  .heading-one{
    font-size: 1.2rem;
    letter-spacing: 3.5px;
    line-height: 30px;
  }

  .content-top-title{
    
    font-size: .7rem !important;
  }

  .insta-image-container{
    height: 1000px !important;
    flex-direction: column;
    .insta-image{
      width: 100% !important;
    }
  
    .insta-button-wrapper{
      bottom: 0;
      .insta-button{
        width: 50px !important; height: 50px !important;
        img{
          width: 30px !important;
        }
      }
    }
  }

  .home-footer-title-wrap{
		// background-color: brown;
		position: absolute;
    right: 6vw !important; 
  }

  .footer-next-icon-wrap{
    margin-top: 0 !important;
    img{
      width: 100px;
    }
  }

  .home-footer-contact-icon-wrap{
		position: absolute;
		right: 3vw !important;
		bottom: 70px;
  }

  .spacer{
    width: 100%; height: 56vh;
    display: block !important;
  }

}

//mobile small
@media all and (max-width: 350px){
  html{
    font-size: 10px !important;
  }
}

