<template>
  <div>
    <ul class="contact-container">
      <li class="contact-list">ig.</li>
      <li class="contact-list">fb.</li>
    </ul>
  </div>
  
</template>

<script>
export default {
  name:"Contact"
}
</script>

<style lang="scss">
@import "../assets/scss/variables.scss";
@import "../assets/scss/mixins_extensions.scss";

  .contact-container{
    display: flex;
    padding: 0;
    .contact-list{
      @extend .body-white;
      margin-right: 24px;
    }
  }
</style>
  

