<template>
  <div>
    <div class="nav-bar-wrapper">
      <div class="nav-bar-container">
        <img class="nav-bar" src="../assets/icons/Menu.svg" alt="">
      </div>
    </div>
    <Nuxt />
  </div>
</template>

<style lang="scss">
@import "../assets/scss/variables.scss";

.nav-bar-wrapper{
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 1;
  .nav-bar-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 7vw;
  }
}

</style>