<template>
<div id="viewport">
	<section ref="mainwrapper" class="main-wrapper">

		<section id="hero" class="hero-wrapper">
			<div class="logo-wrapper">
				<p class="hero-logo">SAMARA</p>
			</div>

			<div class="hero-container">
				<div class="hero-title-wrapper">
					<p class="hero-title">WELLNESS</p>
					<p class="hero-title">PROGRAMS</p>
					<div class="title-nav-wrapper">
						<div class="hero-sub-nav">PREV</div>
						<div class="hero-line"></div>
						<div class="hero-sub-nav">NEXT</div>
					</div>
				</div>
			</div>

			<div class="circle-row-wrap">
				<div class="circle-col-wrap">
					<p class="circle-num">1</p>
					<div class="circle-line"></div>
					<div class="circle"></div>
				</div>
				<div class="circle-col-wrap">
					<p class="circle-num circle-num-inactive">2</p>
					<div class="circle-line circle-line-inactive"></div>
					<div class="circle circle-inactive"></div>
				</div>
				<div class="circle-col-wrap">
					<p class="circle-num circle-num-inactive">2</p>
					<div class="circle-line circle-line-inactive"></div>
					<div class="circle circle-inactive"></div>
				</div>
				<div class="circle-col-wrap">
					<p class="circle-num circle-num-inactive">2</p>
					<div class="circle-line circle-line-inactive"></div>
					<div class="circle circle-inactive"></div>
				</div>

			</div>

			<Contact class="hero-contact-wrap"/>

		</section>

		<section class="story-wrap">
			<div class="story-title-wrap">
				<p class="story-title">ITA MULTO SANGUINE PROFUSO IN</p>
				<p class="story-title">LAETITIA ET IN VICTORIA EST</p>
				<p class="story-title">MORTUUS.</p>
			</div>

			<div class="story-container">
				<div class="content-top-wrap">

					<div class="content-top-desc-wrap">
						<p class="content-top-title">
							BRAND STORY
						</p>
						<div class="content-top-desc-container">
							<p class="content-top-desc">ITA MULTO</p>
							<p class="content-top-desc">SANGUINE PROFUSO</p>
							<p class="content-top-desc">IN LAETITIA</p>
						</div>
					</div>

					<div class="content-top-image-wrap">
						<img src="../assets/images/Brand Story 1.jpg" alt="">
					</div>
				</div>

				<div class="content-bottom-wrap">
					<div class="content-bottom-main-container">
						<div class="content-bottom-container">
							<p class="content-bottom">Et quidem Arcesilas tuus, etsi fuit in disserendo</p>
							<p class="content-bottom">pertinacior, tamen noster fuit; Hoc est non</p>
							<p class="content-bottom">dividere, sed frangere. Eaedem res maneant alio</p>
							<p class="content-bottom">modo</p>
						</div>
						<div class="content-bottom-container">
							<p class="content-bottom">Et quidem Arcesilas tuus, etsi fuit in disserendo</p>
							<p class="content-bottom">pertinacior, tamen noster fuit; Hoc est non</p>
							<p class="content-bottom">dividere, sed frangere. Eaedem res maneant alio</p>
							<p class="content-bottom">modo</p>
						</div>
					</div>
					<div class="content-bottom-image-wrap">
						<img src="../assets/images/Brand Story 2.jpg" alt="">
					</div>
				</div>
			</div>
		</section>

	
		<section class="home-contact-wrap">
			<div class="home-contact-container">
				<p class="home-contact-title">CONNECT WITH US</p>
				<p class="insta-title">SAMARA SPA</p>
				<div class="insta-image-container">
					<div 
						v-for="image in images" 
						:key="image.id"
						:style="{ backgroundImage: `url(${image.media_url})` }"
						class="insta-image"
						>
					</div>
					<div class="insta-button-wrapper">
						<a href="https://www.instagram.com/rairach/" class="insta-button">
							<img src="../assets/icons/Next Arrow.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</section>

	
		<section class="home-footer-wrap">
			<div class="home-footer-container">
				<div class="home-footer-title-wrap">
					<p class="home-footer-sub-title">NEXT</p>
					<p class="home-footer-title">WELLNESS</p>
					<div class="footer-next-icon-wrap">
						<img src="../assets/icons/Next Arrow.svg" alt="next icon">
					</div>
				</div>
				<div class="home-footer-contact-wrap">
					<p class="home-footer-logo">SAMARA SPA</p>
					<div class="home-footer-text-wrap">
						<p class="home-footer-text">Et quidem Arcesilas tuus, etsi fuit in</p>
						<p class="home-footer-text">disserendo pertinacior, tamen noster fuit;</p>
						<p class="home-footer-text">Hoc est non dividere.</p>
					</div>
					<div class="home-footer-contact-list-wrap">
						<p class="home-footer-contact">P : +6282 9839 820</p>
						<p class="home-footer-contact">E : Samaraspa@gmail.com</p>
					</div>
					<p class="copyright">© 2020 SamaraSpa. Website by Fléava</p>
				</div>
				<Contact class="home-footer-contact-icon-wrap"/>
			</div>
		</section>

		<section class="spacer"></section>		
	</section>

	
	
</div>
	
</template>

<script>
import { gsap } from "gsap";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { CSSRulePlugin } from "gsap/CSSRulePlugin";
import Contact from "../components/Contact"

export default {
	data(){
		return{
			images: [
				{
					media_url:"no-image"
				}
			]
		}
	},

	async created(){
		const res = await this.callApi("GET", "https://graph.instagram.com/me/media?fields=id,media_url&access_token=IGQVJXdGtKb1pWREFUYXVFMWdwUXlTekJMRXZAHUllWV1BsSU1wU2FwdEtvbjVOWlhiTVJ6c0RVZAG5WQU8ybkNxbVA3OEtMaGNYZAXU4TUtqTzhLMFF2YU9mclJPV3pPNFRBNHJndGtjMXZAUc0NmeGFyYgZDZD")
		this.images = res?.data? res.data.slice(0,3) : this.images
	},

	components:{
		Contact
	},

	head(){
		return{
			title: "Samara Spa",
			meta:[
				{
					hid: "description",
					name:"description",
					content:"The Samara Spa"
				}
			]
		}
	},

	mounted(){
		gsap.registerPlugin(ScrollTrigger, ScrollToPlugin,CSSRulePlugin);
		const { mainwrapper } = this.$refs

		var height = mainwrapper.clientHeight;
		console.log(height);
		document.body.style.height = height + "px";
 
		gsap.to(mainwrapper, {
			y: -(height - document.documentElement.clientHeight),
			ease: "none",
			scrollTrigger: {
				trigger: document.body,
				start: "top top",
				end: `bottom bottom`,
				scrub: .6
			}
		});

		//animations
		var heroBkg = CSSRulePlugin.getRule(".hero-wrapper::before")
		var instaTitle = CSSRulePlugin.getRule(".home-contact-container .insta-title::after")
 
		gsap.from(heroBkg, {duration:1, cssRule:{opacity: 0}})
		gsap.to(instaTitle, {
			scrollTrigger: {
				trigger:".home-contact-container .insta-title"
			},
			duration: 1.5,
			cssRule:{
				scaleY: 0,
			}
		});

		gsap.timeline({defaults:{duration:1, ease: "slow(0.7, 0.7, false)"}})
		.from(".circle-inactive",{delay:.5, x:-20, opacity: 0, stagger: .3})
		.from(".hero-title-wrapper", {opacity:0, x: 20,},"-=1.5")
		.from(".hero-logo", { opacity:0, y: 20},"-=1.5")
		.from(".hero-contact-wrap", {opacity:0, x: 20,},"-=0.7")
		

		gsap.from(".story-title", {
			scrollTrigger: {
				trigger:".story-title"
			},
			stagger: .4,
			opacity:0,
			y: 80,
			duration: 2,
		});

		gsap.from(".content-top-desc", {
			scrollTrigger: {
				trigger:".content-top-desc"
			},
			stagger: .4,
			opacity:0,
			x: 100,

		});

		gsap.from(".content-bottom", {
			scrollTrigger: {
				trigger:".content-bottom"
			},
			stagger: .4,
			opacity:0,
			x: 50,

		});

		gsap.from(".content-top-image-wrap img", {
			scrollTrigger: {
				trigger:".content-top-image-wrap img"
			},
			x: -100,
			opacity:0,
			duration: 3,
		});

		gsap.from(".content-bottom-image-wrap img", {
			scrollTrigger: {
				trigger:".content-bottom-image-wrap img"
			},
			x: -100,
			opacity:0,
			duration: 3,
		});	

		gsap.from(".insta-button-wrapper", {
			scrollTrigger: {
				trigger:".insta-button-wrapper"
			},
			x: -20,
			opacity:0,
			duration: 1,
		});

		gsap.from(".home-footer-logo, .home-footer-text, .home-footer-contact, .copyright", {
			scrollTrigger: {
				trigger:".home-footer-logo"
			},
			stagger: .3,
			opacity:0,
			x: 10,
			duration: .4,
		});

		gsap.from(".home-footer-sub-title, .home-footer-title, .footer-next-icon-wrap", {
			scrollTrigger: {
				trigger:".home-footer-sub-title"
			},
			stagger: .3,
			opacity:0,
			x: -10,
			duration: .4,
		});
	}
}
</script>

<style lang="scss">
@import "../assets/scss/mixins_extensions.scss";
@import "../assets/scss/variables.scss";
@import "../assets/scss/responsive.scss";

#viewport {
	position: fixed;
	height: 100%;
	width: 100%;
}

.main-wrapper{
	margin: 0 auto;
}

.hero-wrapper{
	position: relative;
	width: 100%; height: 100vh;

	&::before{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-image: url("../assets/images/hero-1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		filter: brightness(80%);
	}

	.hero-container{
		@extend .container;
		position: relative;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.hero-contact-wrap{
		position: absolute;
		right: 3vw;
		bottom: 7vh;
	}
}

.logo-wrapper{
	position: absolute;
	width: 100%; height: 120px;
	
	.hero-logo{
		height: 100%;
		@extend .logo-samara;
		text-align: center;
		line-height: 120px;
	}
}


.hero-title-wrapper{
	.hero-title{
		@extend .heading-title;
	}

	.title-nav-wrapper{
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 190px;
		margin-top: 40px;
		left: 5px;
		opacity: .9;
		.hero-sub-nav{
			font-family: "Houschka-Pro";
			color: $white;
			font-size: .7rem;
			letter-spacing: 4px;
		}
		.hero-line{
			margin: 0 20px;
			height: 1px;
			width: 100%;
			background-color: $white;
			opacity: .5;
			margin-bottom: 2px;
		}
	}
}

.circle-row-wrap{
	display: flex;
	position: absolute;
	bottom: 6vh;
	left: 7vw;
		.circle-col-wrap{
		width: 18px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		.circle-num{
			transform: rotate(-90deg);
			font-family: "Houschka-Pro";
			color: $white;
			font-size: .6rem;
			position: absolute;
			top: 0px;
		}

		.circle-num-inactive{
			opacity: 0;
		}

		.circle-line{
			width: 1px; height: 10px;
			margin-top: 8px; margin-bottom: 6px;
			background-color: $white;
			opacity: .6;
		}

		.circle-line-inactive{
			background-color: unset !important;
		}

		.circle{
			background-color: $white;
			width: 7px; height: 7px;
			border-radius: 50px;
		}

		.circle-inactive{
			opacity: .4;
		}
	}
}

.story-wrap{
	padding-top: 90px;
	height: 1250px;

	.story-title-wrap{
		.story-title{
			text-align: center;
			@extend .heading-one;
		}
	}
}


.story-container{
	margin-top: 120px;
	position: relative;

	.content-top-wrap{
		@extend .container;
		justify-content: flex-end;
	
		.content-top-desc-wrap{
			text-align: right;
			margin-right: 56px;
			margin-top: 64px;

			.content-top-title{
				@include headingTwo($brown);
				margin-bottom: 48px;
			}

			.content-top-desc-container{
				.content-top-desc{
					@extend .heading-one;
				}
			}
		}

		.content-top-image-wrap{
			img{
				width: 530px;
			}
		}
	}

	.content-bottom-wrap{
		display: flex;
		position: absolute;
		bottom: -240px;
		left: 120px;
		.content-bottom-main-container{
			margin-top: 64px;
			.content-bottom-container{
				&:nth-of-type(1){
					margin-bottom: 32px;
				}
				.content-bottom{
					text-align: right;
					@extend .body-brown;
					margin-right: 54px;
					width: 400px;
				}
			}
		}
		.content-bottom-image-wrap{
			img{
				width: 360px;
				height: auto;
			}
		}
		
	}
}


.home-contact-wrap{
	width: 100%;
	padding-top: 90px;
	position: relative;
	margin-bottom: 150px;
}

.home-contact-container{
	@extend .container;
	flex-direction: column;
	.home-contact-title{
		@include headingTwo($brown);
	}
	.insta-title{
		@extend .heading-one;
		margin-top: 40px;
		position: relative;
		&::before{
			content: url("../assets/icons/instagram.svg");
			margin-right: 28px;
		}

		&::after{
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background:white;
			z-index: 1;
			transform-origin: 100% 0;
		}
	}
}

.insta-image-container{
	z-index: 3;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
	.insta-image{
		width: 32%;
		// width: 100%;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

	}

	.insta-button-wrapper{
		z-index: 4;
		position: absolute;
		right: 0;
		width: 32%;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		.insta-button{
			display: flex;
			justify-content: center;
			background-color: $brown;
			width: 80px; height: 80px;
			border-radius: 50px;
			margin-right: 48px;
			cursor: pointer;
			transition: .4s all ease;
			img{
				width: 40px;
			}

			&:hover{
				transform: translateX(20px);
			}
		}
	}
}

.home-footer-wrap{
	position: relative;
	width: 100%; height: 100vh;

	&::before{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-image: url("../assets/images/Footer.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		filter: brightness(70%);
	}
}

.spacer{
	width: 100%;
	display: none;
}

.home-footer-container{
	@extend .container;
	flex-direction: column;
	position: relative;
	height: 100%;
	.home-footer-title-wrap{
		position: absolute;
		top: 115px;
		right: 150px;
		.home-footer-sub-title{
			@include headingTwo($white);
		}
		.home-footer-title{
			@extend .heading-title;
			margin-top:20px;
		}
		.footer-next-icon-wrap{
			margin-top:28px;
			transition: .4s all ease;
			cursor: pointer;
			&:hover{
				transform: translateX(20px);
			}
		}
	}

	.home-footer-contact-wrap{
		position: absolute;
		bottom: 80px;
		.home-footer-logo{
			@include headingTwo($white);
			margin-bottom: 30px;
		}
		.home-footer-text-wrap{
			margin-bottom: 24px;
			.home-footer-text{
				@extend .body-white;
			}
		}
		.home-footer-contact-list-wrap{
			margin-bottom: 24px;
			.home-footer-contact{
				@extend .body-white;
			}
		}
		.copyright{
			@extend .body-white;
			font-size: .7rem;
		}
	}
	.home-footer-contact-icon-wrap{
		position: absolute;
		right: 132px;
		bottom: 70px;
	}
}

</style>
